
*{
  margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body{
  font-family: 'Montserrat', sans-serif;;
  font-size: 20px;
 }

/* UTILITIES */

.dflex{
  display: flex;
}

.align-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.column{
  flex-direction: column;
}

:root{
  --grey-text:#A3A3A3;
  --green:#B3FF31;
  --black:#141922;
}


.debug{
  background-color: yellowgreen;
  border: 1px solid black;


}

/* SECTION MUSIC */
.section-music{
  height: calc(100vh - 100px);
  width: 100%;
}

/* SECTION MUSIC MENU */

.menu-music{
  width: 225px;
  padding: 0 20px;
}

.home{
  height: calc(100vh - 60px);
  width: 100%;
}

.installa{
  height: 60px;
  width: 100%;
  bottom:50px
}

.nome-playlist{
  overflow-y: scroll;
}


/*SECTION OPTION MUSIC */

.option-music{
  width: calc(100% - 225px);
  overflow-y: scroll;
}

.login-bar{
  z-index: 100;
  height: 70px;
  width: calc(100% - 225px);
  position: fixed;
  top: 0;
  right: 0;
  text-align: end;
}

.option-music .btn{
  padding: 15px 25px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px 20px;
  display: inline-block;
}

.btn-content{
  height: 100%;
  align-items: center;
  vertical-align: middle;
  justify-content: end;
}

/* GENERI-MENU */

.bar-generi{
  margin-top: 68px;
  background-color: var(--black);
  justify-content: center;
  padding: 20px;

}

.bar-generi li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 15px;
  flex-wrap: wrap;

}

.bar-generi a{
  text-decoration: none;
  color: var(--grey-text);
}

/* CARDS RECENTLY */

.cards{
  background-color: red;
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
}








/* SECTION-PLAY */

.section-play{
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;

}

/* RESOPONSIVE */

@media screen  and (min-width:1110px){

  .card{
    
  }


}